:root {
    --linea-color: #0C8460;
}

canvas {
    display: flex;
    justify-content: center;
    margin: auto;
}

body {
    height: 100vh;
    background-color: #0a0d12;
    /* Fondo oscuro base */
    overflow: hidden;
    position: relative;
    color: #fff;
}

.fondo-estrellas {
    position: fixed;
    top: 0;
    left: 0;
    width: 200%;
    height: 200%;
    background-image:
        radial-gradient(white 1px, transparent 0),
        radial-gradient(white 1px, transparent 0),
        radial-gradient(white 1px, transparent 0);
    background-size: 33% 33%;
    background-position: 0 0, 50% 50%, 100% 100%;
    animation: subirEstrellas 120s linear infinite;
    opacity: 0.1;
    z-index: 0;
    pointer-events: none;
}

@keyframes subirEstrellas {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(-50%);
    }
}

.barra {
    position: fixed;
    top: 0;
    width: 80px;
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    z-index: 10;

    .linea {
        width: 100%;
        height: 10px;
        background-color: var(--linear-color);
        opacity: 0.7;
    }

    &.barra-izquierda {
        left: 0;
        background-image: linear-gradient(to bottom, rgba(7, 63, 45, 0.2), transparent);
        --linear-color: #07473A;
    }

    &.barra-derecha {
        right: 0;
        background-image: linear-gradient(to bottom, rgba(71, 15, 15, 0.2), transparent);
        --linear-color: #5A1D24;
    }
}

h1 {
    background-color: rgba(54, 226, 161, 0.05);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(54, 226, 161, 0.3), 0 0 20px rgba(54, 226, 161, 0.2) inset;
    border: 1px solid rgba(54, 226, 161, 0.2);
    width: 90%;

    max-width: 710px;
    margin: 20px auto;
    padding: 15px;
    text-align: center;
    color: #34D399;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    backdrop-filter: blur(4px);
}

main {
    width: 480px;
    max-width: 100%;
    height: 780px;
    margin: 25px auto;

    .contenedor-borde01 {
        background-color: #111827;
        border: 1px solid #374151;
        border-radius: 10px;
        padding: 25px;
        position: relative;

        .linea {
            position: absolute;
            width: 32px;
            height: 32px;

            &.linea-top-left {
                top: -8px;
                left: -8px;
                border-top: 2px solid var(--linea-color);
                border-left: 2px solid var(--linea-color);
                border-top-left-radius: 10px;
            }

            &.linea-top-right {
                top: -8px;
                right: -8px;
                border-top: 2px solid var(--linea-color);
                border-right: 2px solid var(--linea-color);
                border-top-right-radius: 10px;
            }

            &.linea-bottom-left {
                bottom: -8px;
                left: -8px;
                border-bottom: 2px solid var(--linea-color);
                border-left: 2px solid var(--linea-color);
                border-bottom-left-radius: 10px;
            }

            &.linea-bottom-right {
                bottom: -8px;
                right: -8px;
                border-bottom: 2px solid var(--linea-color);
                border-right: 2px solid var(--linea-color);
                border-bottom-right-radius: 10px;
            }
        }

        .contenedor-borde02 {
            border: 1px solid #B7D4CE;
            border-radius: 5px;

            .snake-container {
                padding-bottom: 15px;

                .puntaje {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 0 20px;
                    border-bottom: 1px solid #1F2937;

                    img {
                        width: 25px;
                        height: 25px;
                        margin-right: 10px;
                        vertical-align: text-bottom;
                    }

                    span {
                        color: #fff;
                        font-size: 25px;
                    }
                }

                canvas {
                    margin-top: 15px;
                    border-radius: 10px;
                    border: 1px solid #111827;
                    background-color: rgb(0, 0, 0);
                    
                }
            }
        }
    }
}

/* Agrega este código al final de tu archivo style.css */
/* .popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    justify-content: center;
    align-items: center;
}

.popup {
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;

}

.popup-container input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    outline: none;

}

.popup label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.popup button {
    padding: 10px 20px;
    margin-top: 15px;
    background: #61dafb;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.popup button:hover {
    background: #2fabcd;
    transition: all .5s;
}

.popup-container .close {
    position: absolute;
    top: 0;
    right: 15px;
    font-weight: bold;
    cursor: pointer;
}

  Agrega este código al final de tu archivo style.css
#register-button:disabled {
    border: 1px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: default;
}
 */
#scores-container.visible {
    display: block;
}

#scores-container {
    display: none;
}